@import '~materialize-css/dist/css/materialize.min.css';

div#root {
   display: flex !important;
   min-height: 100vh !important;
   flex-direction: column !important;
   background-image: url(./assets/images/bgnd.jpg);
}

main {
   flex: 1 0 auto !important;
}

.font-fam-mainheader {
  font-family: 'Permanent Marker', cursive
}

.font-fam-tidy {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: large
}

.SmallField {
  background-image: url(./assets/images/redgrid.png);
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.BigField {
  background-image: url(./assets/images/big.png);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
}